*.o
*.mod
*.fmod

01.JCTC/MultiWFN/Multiwfn_3.8_dev_src_Linux/gMultiwfn_noGUI
01.JCTC/MultiWFN/Multiwfn_3.8_dev_src_Linux/gMultiwfn


01.JCTC/GTOSTO-plot/GTO-div-STO.png
01.JCTC/GTOSTO-plot/STO-GTO.csv
01.JCTC/GTOSTO-plot/STO-GTO.png
01.JCTC/GTOSTO-plot/STO-GTO_logscaled.png


01.JCTC/Xe-plot/*.txt
01.JCTC/Xe-plot/*.log
01.JCTC/Xe-plot/*.png


01.JCTC/Cl2-plot/*.txt
01.JCTC/Cl2-plot/*.log
01.JCTC/Cl2-plot/*.png
01.JCTC/Cl2-plot/Cl2_data.csv
